<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="columns is-mobile is-centered">
      <div class="column is-is-three-fifths-mobile  is-half-desktop box">
        <form method="POST" action="upload" enctype="multipart/form-data">
          {{ csrfField() }}
          
          <h1 class="title is-1 has-text-centered">Formulario</h1>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left ">
                  <input class="input" type="text" placeholder="Ingresa tu Nombre" name="input-name">
                  <span class="icon is-small is-left">
                  <i class="fas fa-sticky-note"></i>
                </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Edad</label>
                <div class="control has-icons-left ">
                  <input class="input" type="number" placeholder="Ingresa tu Edad" name="input-age">
                  <span class="icon is-small is-left">
                  <i class="fas fa-blind"></i>
                </span>
                </div>
              </div>

            </div>
          </div>
        
          <div class="field">
            <label class="label">Puesto de Trabajo</label>
            <div class="control has-icons-left ">
              <input class="input" type="text" placeholder="Ingresa tu posición actual" name="input-job">
              <span class="icon is-small is-left">
                <i class="fas fa-address-card"></i>
              </span>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left ">
                  <input class="input" type="email" placeholder=" Ingresa tu Email" name="input-email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Telefono</label>
                <div class="control has-icons-left ">
                  <input class="input" type="number" placeholder="Ingresa tu Número de telefono" name="input-phone">
                  <span class="icon is-small is-left">
                  <i class="fas fa-phone"></i>
                </span>
                </div>
              </div>
         
            </div>
          </div>
        

        
          
          <div class="field">
            <label class="label">Ubicación</label>
            <div class="control has-icons-left ">
              <input class="input" type="email" placeholder="Ingresa tu Ubicación" name="input-location">
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </div>
          </div>



          <div class="field">
            <label class="label">Compañia</label>
            <div class="control has-icons-left ">
              <input class="input" type="text" placeholder="Ingresa el nombre de tu Compañia" name="input-company">
              <span class="icon is-small is-left">
                <i class="fas fa-building"></i>
              </span>
            </div>
          </div>


          <div  class="file has-name">
            <label class="file-label">
              <input id="file-upload" class="file-input" type="file" name="profile_pics[]" multiple onchange="javascript:updateList()" accept=".pdf, .jpg, .jpeg" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Elegir Archivos…
                </span>
              </span>
            </label>
          </div>

          <div id="file-list">             
          </div>

          <div class="control">
            <button class="button is-link is-fullwidth">Enviar</button>
          </div>

        </form>
      </div>
    </div>
  <script>
    updateList = function() {
      var input = document.getElementById('file-upload');
      var output = document.getElementById('file-list');

      output.innerHTML = '<div>';
      for (var i = 0; i < input.files.length; ++i) {
        output.innerHTML += "<span class='tag'>"+ input.files.item(i).name + "<button class='delete is-small' onclick='javascript:deleteItem()'></button></span>"
      }
      output.innerHTML += '</div>';
    }

    deleteItem = function(){
      console.log(this)
    }
  </script>
  
  </section>
  </body>
</html>