<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/main.js"></script>
    {{style('css/style.css')}}
  </head>
  <body>
  <section class="section">
    <div class="columns  is-centered">
      <div class="column   is-half box">
        <form method="POST" action='{{ route('FormPostController.store') }}' enctype="multipart/form-data">
          {{ csrfField() }}
          
          <h1 class="title is-1 has-text-centered">Formulario</h1>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left ">
                  <input class="input" type="text" placeholder="Ingresa tu Nombre" name="name" value="{{old('name','')}}" required>
                  {{elIf ('<p class="help is-danger">Nombre no Válido(Exceso de Caracteres)</p>',getErrorFor('name'),hasErrorFor('name'))}}
                  <span class="icon is-small is-left">
                  <i class="fas fa-sticky-note"></i>
                </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Edad</label>
                <div class="control has-icons-left ">
                  <input class="input" type="number" placeholder="Ingresa tu Edad" name="age"  value="{{old('age','')}}" required>
                  {{elIf ('<p class="help is-danger">Edad no Valida</p>',getErrorFor('age'),hasErrorFor('age'))}}
                  <span class="icon is-small is-left">
                  <i class="fas fa-blind"></i>
                </span>
                </div>
              </div>

            </div>
          </div>
        
          <div class="field">
            <label class="label">Puesto de Trabajo</label>
            <div class="control has-icons-left ">
              <input class="input" type="text" placeholder="Ingresa tu posición actual" name="job_position" value="{{old('job_position','')}}" required>
              {{elIf ('<p class="help is-danger">Exceso de Caracteres</p>',getErrorFor('job_position'),hasErrorFor('job_position'))}}
              <span class="icon is-small is-left">
                <i class="fas fa-address-card"></i>
              </span>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left ">
                  <input class="input" type="email" placeholder=" Ingresa tu Email" name="email" value="{{old('email','')}}" required>
                  {{elIf ('<p class="help is-danger">Correo no Valido</p>',getErrorFor('email'),hasErrorFor('email'))}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Telefono</label>
                <div class="control has-icons-left ">
                  <input class="input" type="number" placeholder="Ingresa tu Número de telefono" name="phone_number" value="{{old('phone_number','')}}" required>
                  {{elIf ('<p class="help is-danger">Telefono no Valido</p>',getErrorFor('phone_number'),hasErrorFor('phone_number'))}}
              
                  <span class="icon is-small is-left">
                  <i class="fas fa-phone"></i>
                </span>
                </div>
              </div>
         
            </div>
          </div>
        

        
          
          <div class="field">
            <label class="label">Ubicación</label>
            <div class="control has-icons-left ">
              <input class="input" type="text" placeholder="Ingresa tu Ubicación" name="location" value="{{old('location','')}}" required>
              {{elIf ('<p class="help is-danger">Exceso de Caracteres</p>',getErrorFor('location'),hasErrorFor('location'))}}
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </div>
          </div>



          <div class="field">
            <label class="label">Compañia</label>
            <div class="control has-icons-left ">
              <input class="input" type="text" placeholder="Ingresa el nombre de tu Compañia" name="company" value="{{old('company','')}}" required>
              {{elIf ('<p class="help is-danger">Exceso de Caracteres</p>',getErrorFor('company'),hasErrorFor('company'))}}
              <span class="icon is-small is-left">
                <i class="fas fa-building"></i>
              </span>
            </div>
          </div>
          
          
          <div id="file-list" class="columns is-mobile" style="margin-top:10px; margin-left:10px; margin-right:10px;">             
          </div>

          <div  class="file has-name is-centered">
            <label class="file-label">
              <input id="file-upload" class="file-input" type="file" name="files_post[]" multiple onchange="javascript:updateList()" accept=".pdf, .jpg, .jpeg" />        
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label ">
                  Subir Archivos…
                </span>
              </span>
            </label>
          </div>
          <p id="danger-size" class="help is-danger has-text-centered" style="visibility:hidden;">Tamaño no debe exceder a 5mb</p>          
          <br>
          <div class="control">
            <button class="button is-link is-fullwidth">Enviar</button>
          </div>

        </form>
      </div>
    </div>

  </section>
  </body>
</html>