<!DOCTYPE html>
<html  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Completado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/main.js"></script>
    {{style('css/style.css')}}
  </head>
  <body >
  <section class="section " >
    <div class="columns  is-centered" >
      <div class="column is-half-desktop box" >
      
          {{ csrfField() }}
          <h1 class="title is-1 has-text-centered">Hemos Recibido Tu información Correctamente</h1>
          <div class='card-content is-flex' style="justify-content: center;">
            <figure class="image is-128x128" >
              <img src="{{ assetsUrl('/completed.png') }}">
            </figure>
          </div>
          <div class="field">
               <a class="button is-info is-fullwidth" href="{{ route('/') }}" >
                    Llenar Otro Formulario
                </a>
          </div>
          <div class="field">
               <a class="button is-link is-fullwidth" href="{{ route('/login') }}">
                    Soy Administrador
                </a>
          </div>

      </div>
    </div>
  </section>
  </body>
</html>